// Define params
params.samplesheet = "$projectDir/samplesheet.csv"
params.ref_prefix = "$projectDir/ref/Homo_sapiens_assembly38.20-22"
params.ref_fasta = "${params.ref_prefix}.fasta"
params.ref_fai = "${params.ref_prefix}.fasta.fai"
params.ref_dict = "${params.ref_prefix}.dict"
params.bwa_index = "$projectDir/ref/BWAIndex"
params.bwa_index_name = "Homo_sapiens_assembly38.20-22.fasta"
params.cohort_name = "cohort"
params.outdir = "results"

// Output a summary html report
report {
  enabled = true
}
// Define HPC profiles to run with job scheduler
profiles {
  // Use this profile to interact with the scheduler on setonix 
  slurm { includeConfig "slurm.config" }

  // Use this profile to interact with the scheduler on gadi   
  pbspro { includeConfig "pbspro.config" }
}
