# ==========================================
# nf-core HPC Workshop .gitignore
# ==========================================

# --- Nextflow working & result dirs ---
work/
results/
.nextflow*
.gadi*

# --- Day 1 ---
day1/work/
day1/results/
day1/.nextflow*
day1/gadi*
day1/sarek/
day1/config-demo-nf/

# --- Day 2 ---
day2/work/
day2/results/
day2/.nextflow*
day2/gadi*

# --- Unzipped ref data ---
data/ref/Hg38.subsetchr20-22.fasta*

# --- Generated assets ---
assets/work/
assets/runInfo/
assets/.nextflow*
assets/index-reference-fasta-nf/
assets/Parabricks-Genomics-nf/