# ==========================================
# nf-core HPC Workshop .gitignore
# ==========================================

# --- Nextflow working & result dirs ---
work/
results/
.nextflow*
.gadi*
/singularity/

# --- Day 1 ---
part1/work/
part1/results/
part1/.nextflow*
part1/gadi*
part1/sarek/
part1/config-demo-nf/

# --- Day 2 ---
part2/work/
part2/results/
part2/.nextflow*
part2/gadi*

# --- Unzipped ref data ---
data/ref/Hg38.subsetchr20-22.fasta*
data/ref/Hg38.subsetchr20-22.dict

# --- Generated assets ---
assets/work/
assets/runInfo/
assets/.nextflow*
assets/index-reference-fasta-nf/
assets/Parabricks-Genomics-nf/