process {
    withName: "FASTQC" {
        cpus = 2
        memory = 1.GB
        time = 2.min
    }

    withName: "ALIGN" {
        cpus = 1
        memory = 1.GB
        time = 5.min
    }
    
    withName: "GENOTYPE" {
        cpus = 4
        memory = 5.GB
        time = 10.min
    }
    
    withName: "JOINT_GENOTYPE" {
        cpus = 4
        memory = 4.GB
        time = 10.min
    }
    
    withName: "STATS" {
        cpus = 1
        memory = 1.GB
        time = 5.min
    }
    
    withName: "MULTIQC" {
        cpus = 1
        memory = 1.GB
        time = 5.min
    }

    withName: "SPLIT_FASTQ" {
        cpus = 1
        memory = 4.GB
        time = 1.min
    }

    withName: "ALIGN_CHUNK" {
        cpus = 1
        memory = 1.GB
        time = 5.min
    }

    withName: "MERGE_BAMS" {
        cpus = 1
        memory = 1.GB
        time = 2.min
    }
    
}

profiles {
	pbspro { includeConfig "conf/pbspro.config" }
	slurm { includeConfig "conf/slurm.config" }
	
}

// enable reporting
def timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
dag.enabled = true
dag.file = "runInfo/dag.${timestamp}.html"
report.enabled = true
report.file = "runInfo/report.${timestamp}.html"
timeline.enabled = true
timeline.file = "runInfo/timeline.${timestamp}.html"
trace.enabled = true
trace.file = "runInfo/trace.${timestamp}.txt"
