// Define params
params {
    samplesheet = "$projectDir/samplesheet_single.csv"
    ref_prefix = "$projectDir/../data/ref/Hg38.subsetchr20-22"
    ref_fasta = "${params.ref_prefix}.fasta"
    ref_fai = "${params.ref_prefix}.fasta.fai"
    ref_dict = "${params.ref_prefix}.dict"
    bwa_index = "$projectDir/../data/ref"
    bwa_index_name = "Hg38.subsetchr20-22.fasta"
    cohort_name = "cohort"
    outdir = "results"
}

// Define HPC profiles to run with job scheduler
profiles {
    // Use this profile to interact with the scheduler on setonix 
    slurm { includeConfig "conf/slurm.config" }

    // Use this profile to interact with the scheduler on gadi   
    pbspro { includeConfig "conf/pbspro.config" }
}

process {
	cpus = 1
	memory = 2.GB
}

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

trace {
    enabled = true
    overwrite = false
    file = "${params.outdir}/${trace_timestamp}.txt"
    fields = 'name,status,exit,duration,realtime,cpus,%cpu,memory,%mem,rss'
}
