params.pbspro_account = ""

executor {
    // For high-throughput jobs, these values should be higher
    queueSize = 30
    pollInterval = '5 sec'
    queueStatInterval = '5 sec'
}

process {
  executor = 'pbspro'
  module = 'singularity'
  queue = 'normal'
  clusterOptions = "-P ${params.pbspro_account}"
  storage = "scratch/${System.getenv('PROJECT')}"
  cache = 'lenient'
  stageInMode = 'symlink'
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/scratch/${System.getenv('PROJECT')}/${System.getenv('USER')}/nextflow-on-hpc-materials/singularity""${projectDir}/singularity" 
}
