process {

    withName: 'TABIX_BGZIPTABIX_INTERVAL_COMBINED' {
        cpus = 1
        memory = 1.GB
        time = 2.min
    }

    withName: 'FASTQC' {
        cpus = 1
        memory = 1.GB
        time = 2.min
    }

    withName: 'FASTP' {
        cpus = 2
        memory = 2.GB
        time = 2.min
    }

    withName: 'BWAMEM1_MEM' {
        cpus = 1
        memory = 1.GB
        time = 2.min
    }

    withName: 'MERGE_BAM' {
        cpus = 1
        memory = 1.GB
        time = 2.min
    }

    withName: 'INDEX_MERGE_BAM' {
        cpus = 1
        memory = 1.GB
        time = 2.min
    }

    withName: 'BAM_TO_CRAM_MAPPING' {
        cpus = 1
        memory = 1.GB
        time = 2.min
    }

    withName: 'MULTIQC' {
        cpus = 1
        memory = 1.GB
        time = 2.min
    }

}