singularity {
    enabled = true
    cacheDir = "/scratch/${System.getenv('PROJECT')}/${System.getenv('USER')}/nextflow-on-hpc-materials/singularity"
}
 
executor {
    queueSize = 30
    pollInterval = '30 sec'
    queueStatInterval = '30 sec'
    submitRateLimit = '20 min'
}
 
process {
    executor = 'pbspro'
    storage = "scratch/${System.getenv('PROJECT')}"
    module = 'singularity'
    cache = 'lenient'
    stageInMode = 'symlink'
    queue = { task.memory < 128.GB ? 'normalbw' : 'hugemembw' }
    clusterOptions = "-P ${System.getenv('PROJECT')}"
}
 
params.trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

trace {
    enabled = true
    overwrite = false
    file = "./runInfo/trace-${params.trace_timestamp}.txt"
    fields = 'name,status,exit,duration,realtime,cpus,%cpu,memory,%mem,rss'
}