params.pbspro_account = ""

process {
  executor = 'pbspro'
  module = 'singularity'
  queue = 'normal'
  clusterOptions = "-P ${params.pbspro_account}"
}

singularity {
  enabled = true
  autoMounts = true
  cacheDir = "/scratch/${System.getenv('PROJECT')}/${System.getenv('USER')}/nextflow-on-hpc-materials/singularity""${projectDir}/singularity" 
}
