process {
    withName: 'TABIX_BGZIPTABIX_INTERVAL_COMBINED' {
        cpus = 1
        memory = 1.GB
        time = 5.min
    }

    withName: 'FASTQC' {
        cpus = 1
        memory = 1.GB
        time = 1.min
    }

    withName: 'FASTP' {
        cpus = 4
        memory = 5.GB
        time = 1.min
    }

    withName: 'BWAMEM1_MEM' {
        cpus = 1
        memory = 16.GB
        time = 1.min
    }

    withName: 'MERGE_BAM' {
        cpus = 1
        memory = 1.GB
        time = 1.min
    }

    withName: 'INDEX_MERGE_BAM' {
        cpus = 1
        memory = 1.GB
        time = 1.min
    }

    withName: 'BAM_TO_CRAM_MAPPING' {
        cpus = 1
        memory = 5.GB
        time = 5.min
    }

    withName: 'GATK4_MARKDUPLICATES' {
        cpus = 1
        memory = 4.GB
        time = 5.min
    }

    withName: 'MULTIQC' {
        cpus = 1
        memory = 2.GB
        time = 1.min
    }

    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        cpus = 1
        memory = 5.GB
        time = 1.min
    }
}
