process {

    withName: 'GATK4_CREATESEQUENCEDICTIONARY' {
        cpus = 1
        memory = 5.GB
        time = 2.min
    }

    withName: 'TABIX_BGZIPTABIX_INTERVAL_COMBINED' {
        cpus = 1
        memory = 1.GB
        time = 5.min
    }

    withName: 'GATK4_MARKDUPLICATES' {
        cpus = 1
        memory = 4.GB
        time = 5.min
    }

    withName: 'MULTIQC' {
        cpus = 1
        memory = 2.GB
        time = 2.min
    }

}
