singularity {
    enabled = true
    cacheDir = "$projectDir/singularity"
}
 
executor {
    queueSize = 30
    pollInterval = '30 sec'
    queueStatInterval = '30 sec'
    submitRateLimit = '20 min'
}
 
process {
    executor = 'slurm'
    module = 'singularity/4.1.0-slurm'
    cache = 'lenient'
    stageInMode = 'symlink'
    queue = { task.memory <= 230.GB ? 'work' : 'highmem' }
    clusterOptions = "--account=${System.getenv('PAWSEY_PROJECT')}"
}
 
params.trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')

trace {
    enabled = true
    overwrite = false
    file = "./runInfo/trace-${params.trace_timestamp}.txt"
    fields = 'name,status,exit,duration,realtime,cpus,%cpu,memory,%mem,rss'
}